#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.title{
  font-size: large;
  font-size: 35px;
 }

form{
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background: #ffeeb7;
  opacity: 0.6;
  text-align: center;
  padding: 50px 80px; 
 }
 
 form label{
   margin-bottom: 35px;
 }
 
 form label .fa-regular{
   font-size: 80px;
   color:rgb(81, 243, 255);
   margin-right: 10px;
 }
 
 
 form label .fa-solid{
   font-size: 25px;
   color:rgb(224, 71, 71);
   margin-right: 10px;
 }
 
 form label input{
   border: solid 3px rgba(180, 193, 107, 0.704);
   padding: 5px;
   border-radius: 8px;
   background-color: rgb(208, 237, 237);
   font-family:Georgia, 'Times New Roman', Times, serif;
   font-size: 18px; 
 }

.btn {
  border:none;
  color:white; 
  padding: 20px 15px;
  font-family :'Times New Roman', Times, serif;
  cursor: pointer;
  border-radius: 25px;
  cursor: pointer;
}

.success {background-image:
  linear-gradient(to right, #28a745, 
  #56c150b3);} 


.pulse-effect:active {
  transform: scale(0.9);
}

.shadow-effect {
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out; 
}

.shadow-effect:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3); 
}
